$lightgreen: #5bd7b9;
$green: #17a589;
$darkgreen: #00755c;

$lightblue: #516171;
$blue: #273746;
$darkblue: #00111f;

$lightorange: #ffc947;
$orange: #ff9800;
$darkorange: #c66900;

$black: #000000;
$white: #ffffff;

$color-primary: $blue;
$color-secendory: $orange;
$color-text-primary: $white;
$color-text-secondary: $black;
$color-surface: $white;
$color-background: $white;
